In [199]:
#Table 1
#Sno,Address,City,State code,Country, Rental Price,deposit
#table2
#Sno, no of bed, no.of bathroom , Area ,pets allowed
#table 3
#Sno ,Washer/Dryer , AC ,Parking, Fireplace, Dishwasher, Hardwood floors, Roofdeck ,storage

In [200]:
import pandas as pd
import numpy as  np

In [201]:
df_test=pd.read_csv("rentdatawebscraping1.csv")

In [202]:
df=df_test.copy()

In [203]:
df.shape

(6840, 10)

In [204]:
df['Price']=df['Price'].str.replace('M$','0000',regex=True)

In [205]:
import pandas as pd

def convert_currency_to_inr(price):
    # Check if the value is a string
    if isinstance(price, str):
        # Extract currency symbol from the string
        currency_symbol = price[0]
        
        # Extract numerical part from the string
        amount_str = price[1:].replace(',', '')  # Remove commas from the numerical part
        amount = float(amount_str)
    else:
        # If it's not a string, consider it as a numerical value
        currency_symbol = ''
        amount = float(price)

    # Define exchange rates for different currencies (as of the current date)
    exchange_rates = {'$': 74.5, '€': 87.2, '£': 101.8, '₹': 1,'¥':0.55}  # Add more currencies as needed

    # Default to 1 if the currency symbol is not in the exchange_rates dictionary
    exchange_rate = exchange_rates.get(currency_symbol, 1)

    # Convert the amount to INR
    inr_amount = amount * exchange_rate
    return inr_amount

df['Price_INR'] = df['Price'].apply(convert_currency_to_inr)

print(df)

           City    Price   Rooms  Bathrooms     Area  \
0     Austin TX  $29,340       7        7.0  3,550sf
1     Austin TX   $2,620       1        1.0  unknown
2     Austin TX   $1,460       3        2.0  1,352sf
3     Austin TX   $3,350       3        1.0  1,300sf
4     Austin TX   $7,000       2        2.0  1,360sf
...         ...      ...     ...        ...      ...
6835     Munich   €2,149       1        1.0      24m
6836     Munich   €3,753  Studio        1.0      27m
6837     Munich   €3,100       5        1.0      60m
6838     Munich   €1,160       4        2.0  unknown
6839     Munich   €1,150       4        2.0  unknown

                                               Location  \
0                                            Austin, TX
1                                   801 West 5th Street
2                           Austin, Indian Oaks, TX, US
3                                         5505 Avenue H
4     Seaholm Residences, 222 West Avenue, Austin, T...
...                                                 ...
6835  Leica Geosystems GmbH Vertrieb Deutschland, Tr...
6836           Westendstraße 170, 80686 Munich, Germany
6837             Baaderstraße 43, 80469 Munich, Germany
6838            Barer Straße 58b, 80799 Munich, Germany
6839  Städtisches Sophie-Scholl-Gymnasium, Borschtal...

                                              Amenities Dogs_allowed  \
0     ['Air Conditioning', 'Balcony', 'Parking', 'Po...  not allowed
1                                                    []      allowed
2                                                    []      allowed
3     ['Storage', 'Air Conditioning', 'Dishwasher', ...      allowed
4                                                    []  not allowed
...                                                 ...          ...
6835  ['Furnished', 'Parking', 'Washer/Dryer In Unit...  not allowed
6836  ['Furnished', 'Parking', 'Washer/Dryer In Unit...      allowed
6837  ['Furnished', 'Washer/Dryer In Unit', 'Utiliti...  not allowed
6838  ['Washer/Dryer In Unit', 'Furnished', 'Elevato...  not allowed
6839  ['Washer/Dryer In Unit', 'Furnished', 'Elevato...  not allowed

     Cats_allowed Deposite  Price_INR
0     not allowed        0  2185830.0
1         allowed        0   195190.0
2         allowed        0   108770.0
3         allowed   $1,600   249575.0
4     not allowed        0   521500.0
...           ...      ...        ...
6835  not allowed        0   187392.8
6836      allowed        0   327261.6
6837  not allowed        0   270320.0
6838  not allowed   €1,160   101152.0
6839  not allowed   €1,150   100280.0

[6840 rows x 11 columns]

In [206]:
df['Price_INR']

0       2185830.0
1        195190.0
2        108770.0
3        249575.0
4        521500.0
          ...
6835     187392.8
6836     327261.6
6837     270320.0
6838     101152.0
6839     100280.0
Name: Price_INR, Length: 6840, dtype: float64

In [207]:
def convert_currency_to_inr(price):
    # Check if the value is a string
    if isinstance(price, str):
        # Extract currency symbol from the string
        currency_symbol = price[0]
        
        # Extract numerical part from the string
        amount_str = price[1:].replace(',', '')  # Remove commas from the numerical part

        # Replace empty strings with 0
        amount = float(amount_str) if amount_str else 0
    else:
        # If it's not a string, consider it as a numerical value
        currency_symbol = ''
        amount = float(price) if price is not None and str(price).strip() else 0

    # Define exchange rates for different currencies (as of the current date)
    exchange_rates = {'$': 74.5, '€': 87.2, '£': 101.8, '₹': 1, '¥': 0.55}  # Add more currencies as needed

    # Default to 1 if the currency symbol is not in the exchange_rates dictionary
    exchange_rate = exchange_rates.get(currency_symbol, 1)

    # Convert the amount to INR
    inr_amount = amount * exchange_rate
    return inr_amount

# Apply the function to the 'Deposite' column and create a new 'Deposite1' column
df['Deposite'] = df['Deposite'].apply(convert_currency_to_inr)

In [208]:
import pandas as pd

# Function to extract currency symbols
def extract_currency_symbol(price):
    if isinstance(price, str) and len(price) > 0:
        return price[0]
    else:
        return None

# Apply the function to the 'Price' column and get unique currency symbols
unique_currency_symbols = df['Price'].apply(extract_currency_symbol).unique()

# Filter out None values if any
unique_currency_symbols = [symbol for symbol in unique_currency_symbols if symbol is not None]

# Display the unique currency symbols
print("Unique Currency Symbols:", unique_currency_symbols)

Unique Currency Symbols: ['$', '¥', '€', '£']

In [209]:
df['Area']

0       3,550sf
1       unknown
2       1,352sf
3       1,300sf
4       1,360sf
         ...
6835        24m
6836        27m
6837        60m
6838    unknown
6839    unknown
Name: Area, Length: 6840, dtype: object

In [210]:
df['Area'] = df['Area'].replace('unknown', 0)

In [211]:
df['Area'] = df['Area'].astype(str).str.replace(',', '')

In [212]:
import pandas as pd



# Function to convert square meters to square feet
def convert_to_sqft(area):
    if isinstance(area, str):
        # Extract numerical part from the string
        num_part = ''.join(c for c in area if c.isdigit() or c == '.')

        # Check if 'm' or 'sqft' is present in the original string
        if 'm' in area.lower():
            # Conversion factor: 1 square meter = 10.764 square feet
            return float(num_part) * 10.764
        elif 'sf' in area.lower():
            return float(num_part)
    
    # If it's not a string or doesn't contain 'm' or 'sqft', consider it as a numerical value
    return float(area) if area != '' else 0

# Apply the function to the 'Area' column
df['Converted_Area'] = df['Area'].apply(convert_to_sqft)

# Count the number of unique values in the 'Converted_Area' column
unique_units_count = df['Converted_Area'].nunique()


print(df)
print("\nNumber of unique units in 'Area':", unique_units_count)

           City    Price   Rooms  Bathrooms    Area  \
0     Austin TX  $29,340       7        7.0  3550sf
1     Austin TX   $2,620       1        1.0       0
2     Austin TX   $1,460       3        2.0  1352sf
3     Austin TX   $3,350       3        1.0  1300sf
4     Austin TX   $7,000       2        2.0  1360sf
...         ...      ...     ...        ...     ...
6835     Munich   €2,149       1        1.0     24m
6836     Munich   €3,753  Studio        1.0     27m
6837     Munich   €3,100       5        1.0     60m
6838     Munich   €1,160       4        2.0       0
6839     Munich   €1,150       4        2.0       0

                                               Location  \
0                                            Austin, TX
1                                   801 West 5th Street
2                           Austin, Indian Oaks, TX, US
3                                         5505 Avenue H
4     Seaholm Residences, 222 West Avenue, Austin, T...
...                                                 ...
6835  Leica Geosystems GmbH Vertrieb Deutschland, Tr...
6836           Westendstraße 170, 80686 Munich, Germany
6837             Baaderstraße 43, 80469 Munich, Germany
6838            Barer Straße 58b, 80799 Munich, Germany
6839  Städtisches Sophie-Scholl-Gymnasium, Borschtal...

                                              Amenities Dogs_allowed  \
0     ['Air Conditioning', 'Balcony', 'Parking', 'Po...  not allowed
1                                                    []      allowed
2                                                    []      allowed
3     ['Storage', 'Air Conditioning', 'Dishwasher', ...      allowed
4                                                    []  not allowed
...                                                 ...          ...
6835  ['Furnished', 'Parking', 'Washer/Dryer In Unit...  not allowed
6836  ['Furnished', 'Parking', 'Washer/Dryer In Unit...      allowed
6837  ['Furnished', 'Washer/Dryer In Unit', 'Utiliti...  not allowed
6838  ['Washer/Dryer In Unit', 'Furnished', 'Elevato...  not allowed
6839  ['Washer/Dryer In Unit', 'Furnished', 'Elevato...  not allowed

     Cats_allowed  Deposite  Price_INR  Converted_Area
0     not allowed       0.0  2185830.0        3550.000
1         allowed       0.0   195190.0           0.000
2         allowed       0.0   108770.0        1352.000
3         allowed  119200.0   249575.0        1300.000
4     not allowed       0.0   521500.0        1360.000
...           ...       ...        ...             ...
6835  not allowed       0.0   187392.8         258.336
6836      allowed       0.0   327261.6         290.628
6837  not allowed       0.0   270320.0         645.840
6838  not allowed  101152.0   101152.0           0.000
6839  not allowed  100280.0   100280.0           0.000

[6840 rows x 12 columns]

Number of unique units in 'Area': 1294

In [213]:
df['Converted_Area']

0       3550.000
1          0.000
2       1352.000
3       1300.000
4       1360.000
          ...
6835     258.336
6836     290.628
6837     645.840
6838       0.000
6839       0.000
Name: Converted_Area, Length: 6840, dtype: float64

In [214]:
import pandas as pd


# Function to check if the last word of a string ends with 'm'
def ends_with_m(area_str):
    if isinstance(area_str, str):
        words = area_str.split()
        return words and words[-1].endswith('m')
    return False

# Count the number of areas with 'm' at the end
count_areas_with_m = df['Area'].apply(ends_with_m).sum()

# Display the count
print("Number of areas with 'm' at the end:", count_areas_with_m)

Number of areas with 'm' at the end: 682

In [119]:
import pandas as pd

# Example DataFrame

# Function to check if the last word of a string ends with 'm'
def ends_with_m(area_str):
    if isinstance(area_str, str):
        words = area_str.split()
        return words and words[-1].endswith('m')
    return False

# Count the number of areas with 'm' at the end
count_areas_with_m = df['Area'].apply(ends_with_m).sum()

# Print indices at which areas with 'm' at the end are present
indices_areas_with_m = df[df['Area'].apply(ends_with_m)].index.tolist()
print("Number of areas with 'm' at the end:", count_areas_with_m)
print("Indices at which areas with 'm' at the end are present:", indices_areas_with_m)

Number of areas with 'm' at the end: 682
Indices at which areas with 'm' at the end are present: [2247, 2355, 2357, 2359, 2371, 2372, 2378, 2380, 2389, 2392, 2399, 2401, 2403, 2411, 2413, 2415, 2423, 2427, 2428, 2433, 2452, 2463, 2465, 2470, 2471, 2476, 2479, 2481, 2483, 2484, 2488, 2493, 2503, 2511, 2517, 2523, 2531, 2536, 2557, 2565, 2619, 2623, 2637, 2670, 2810, 2813, 2814, 2818, 2822, 2835, 2836, 2857, 2860, 2875, 2881, 2882, 2894, 2895, 2897, 2905, 2906, 2908, 2909, 2913, 2919, 2921, 2924, 2930, 2942, 2950, 2954, 2959, 2961, 2963, 2979, 2982, 2983, 3019, 3025, 3033, 3036, 3045, 3054, 3062, 3127, 3135, 3141, 3147, 3155, 3160, 3181, 3189, 3244, 3249, 3262, 3294, 3434, 3437, 3438, 3442, 3446, 3459, 3460, 3481, 3484, 3499, 3505, 3506, 3518, 3519, 3521, 3529, 3530, 3532, 3533, 3537, 3543, 3545, 3548, 3554, 3566, 3574, 3578, 3583, 3585, 3587, 3603, 3606, 3607, 3643, 3649, 3657, 3660, 3669, 3678, 3686, 5304, 5307, 5313, 5317, 5318, 5319, 5320, 5324, 5326, 5327, 5329, 5330, 5332, 5333, 5334, 5335, 5337, 5338, 5340, 5341, 5342, 5345, 5347, 5351, 5352, 5353, 5354, 5355, 5356, 5357, 5358, 5363, 5364, 5366, 5367, 5368, 5369, 5371, 5372, 5373, 5374, 5375, 5376, 5378, 5380, 5383, 5385, 5386, 5387, 5388, 5389, 5390, 5391, 5392, 5393, 5396, 5398, 5399, 5400, 5403, 5404, 5409, 5410, 5412, 5413, 5414, 5415, 5416, 5417, 5422, 5423, 5426, 5427, 5428, 5429, 5430, 5433, 5435, 5436, 5437, 5438, 5439, 5440, 5441, 5445, 5446, 5447, 5449, 5451, 5452, 5455, 5458, 5459, 5461, 5462, 5463, 5464, 5465, 5468, 5469, 5471, 5472, 5473, 5475, 5476, 5477, 5479, 5481, 5484, 5485, 5488, 5489, 5491, 5497, 5499, 5502, 5505, 5512, 5535, 5550, 5556, 5561, 5590, 5593, 5616, 5617, 5628, 5820, 5844, 5866, 5868, 5877, 5908, 5928, 5941, 6145, 6218, 6219, 6220, 6221, 6226, 6227, 6228, 6233, 6235, 6236, 6237, 6239, 6240, 6241, 6242, 6243, 6244, 6245, 6246, 6249, 6250, 6251, 6252, 6255, 6256, 6257, 6259, 6262, 6263, 6264, 6265, 6266, 6267, 6269, 6270, 6271, 6273, 6274, 6276, 6277, 6278, 6281, 6283, 6286, 6287, 6289, 6290, 6291, 6293, 6295, 6297, 6299, 6301, 6302, 6304, 6305, 6307, 6309, 6311, 6313, 6315, 6316, 6317, 6318, 6319, 6321, 6322, 6323, 6324, 6325, 6326, 6327, 6328, 6329, 6331, 6333, 6334, 6337, 6339, 6340, 6341, 6342, 6343, 6345, 6346, 6348, 6349, 6350, 6351, 6353, 6355, 6356, 6357, 6358, 6359, 6360, 6361, 6363, 6364, 6365, 6366, 6367, 6371, 6372, 6373, 6374, 6375, 6376, 6377, 6380, 6381, 6382, 6384, 6385, 6387, 6388, 6389, 6391, 6393, 6394, 6395, 6398, 6399, 6401, 6403, 6404, 6407, 6409, 6410, 6411, 6413, 6415, 6417, 6418, 6420, 6421, 6424, 6425, 6427, 6431, 6432, 6434, 6435, 6436, 6437, 6438, 6439, 6442, 6443, 6444, 6446, 6447, 6448, 6449, 6451, 6452, 6454, 6455, 6456, 6457, 6458, 6459, 6463, 6465, 6469, 6470, 6476, 6477, 6480, 6481, 6482, 6483, 6484, 6486, 6487, 6489, 6490, 6494, 6495, 6497, 6501, 6502, 6503, 6504, 6505, 6508, 6509, 6510, 6511, 6515, 6517, 6518, 6519, 6520, 6523, 6524, 6525, 6527, 6528, 6530, 6531, 6532, 6534, 6537, 6539, 6540, 6541, 6542, 6543, 6544, 6547, 6548, 6549, 6550, 6551, 6552, 6553, 6554, 6555, 6556, 6557, 6558, 6559, 6561, 6562, 6563, 6565, 6566, 6568, 6569, 6571, 6572, 6573, 6574, 6575, 6576, 6578, 6580, 6581, 6582, 6585, 6586, 6587, 6588, 6590, 6591, 6592, 6593, 6595, 6596, 6597, 6598, 6600, 6601, 6602, 6603, 6604, 6605, 6607, 6610, 6611, 6615, 6616, 6617, 6619, 6622, 6623, 6626, 6629, 6630, 6631, 6635, 6637, 6639, 6640, 6641, 6643, 6644, 6645, 6646, 6649, 6651, 6652, 6654, 6657, 6658, 6659, 6660, 6661, 6662, 6663, 6664, 6667, 6670, 6671, 6672, 6673, 6674, 6675, 6676, 6678, 6679, 6681, 6683, 6687, 6688, 6689, 6691, 6692, 6693, 6694, 6695, 6696, 6697, 6698, 6699, 6701, 6703, 6705, 6706, 6707, 6708, 6710, 6711, 6713, 6717, 6718, 6719, 6720, 6721, 6723, 6724, 6725, 6726, 6727, 6729, 6731, 6732, 6733, 6734, 6735, 6736, 6737, 6739, 6741, 6744, 6746, 6748, 6749, 6750, 6751, 6753, 6754, 6755, 6757, 6758, 6759, 6761, 6763, 6766, 6767, 6769, 6770, 6771, 6773, 6775, 6779, 6781, 6782, 6783, 6784, 6785, 6787, 6788, 6791, 6792, 6793, 6794, 6796, 6797, 6798, 6799, 6801, 6802, 6804, 6805, 6806, 6807, 6809, 6812, 6814, 6815, 6816, 6817, 6819, 6820, 6821, 6822, 6823, 6825, 6826, 6827, 6828, 6829, 6831, 6832, 6833, 6835, 6836, 6837]

In [215]:
df['Converted_Area'][2403]

710.424

In [122]:
df

,City,Price,Rooms,Bathrooms,Area,Location,Amenities,Dogs_allowed,Cats_allowed,Deposite,Price_INR,Converted_Area
0,Austin TX,"$29,340",7,7.0,3550sf,"Austin, TX","['Air Conditioning', 'Balcony', 'Parking', 'Po...",not allowed,not allowed,0,2185830.0,3550.000
1,Austin TX,"$2,620",1,1.0,0,801 West 5th Street,[],allowed,allowed,0,195190.0,0.000
2,Austin TX,"$1,460",3,2.0,1352sf,"Austin, Indian Oaks, TX, US",[],allowed,allowed,0,108770.0,1352.000
3,Austin TX,"$3,350",3,1.0,1300sf,5505 Avenue H,"['Storage', 'Air Conditioning', 'Dishwasher', ...",allowed,allowed,"$1,600",249575.0,1300.000
4,Austin TX,"$7,000",2,2.0,1360sf,"Seaholm Residences, 222 West Avenue, Austin, T...",[],not allowed,not allowed,0,521500.0,1360.000
...,...,...,...,...,...,...,...,...,...,...,...,...
6835,Munich,"€2,149",1,1.0,24m,"Leica Geosystems GmbH Vertrieb Deutschland, Tr...","['Furnished', 'Parking', 'Washer/Dryer In Unit...",not allowed,not allowed,0,187392.8,258.336
6836,Munich,"€3,753",Studio,1.0,27m,"Westendstraße 170, 80686 Munich, Germany","['Furnished', 'Parking', 'Washer/Dryer In Unit...",allowed,allowed,0,327261.6,290.628
6837,Munich,"€3,100",5,1.0,60m,"Baaderstraße 43, 80469 Munich, Germany","['Furnished', 'Washer/Dryer In Unit', 'Utiliti...",not allowed,not allowed,0,270320.0,645.840
6838,Munich,"€1,160",4,2.0,0,"Barer Straße 58b, 80799 Munich, Germany","['Washer/Dryer In Unit', 'Furnished', 'Elevato...",not allowed,not allowed,"€1,160",101152.0,0.000
6839,Munich,"€1,150",4,2.0,0,"Städtisches Sophie-Scholl-Gymnasium, Borschtal...","['Washer/Dryer In Unit', 'Furnished', 'Elevato...",not allowed,not allowed,"€1,150",100280.0,0.000

In [216]:
df['Amenities']=df['Amenities'].fillna(value=0)
df['Amenities']=df['Amenities'].replace('nan',0)

In [217]:
import pandas as pd

# Replace 0 with an empty list in the 'List_Column'
df['Amenities'] = df['Amenities'].apply(lambda x: [] if isinstance(x, list) and 0 in x else x)

# Display the updated DataFrame
print("Updated DataFrame:")
print(df)

Updated DataFrame:
           City    Price   Rooms  Bathrooms    Area  \
0     Austin TX  $29,340       7        7.0  3550sf
1     Austin TX   $2,620       1        1.0       0
2     Austin TX   $1,460       3        2.0  1352sf
3     Austin TX   $3,350       3        1.0  1300sf
4     Austin TX   $7,000       2        2.0  1360sf
...         ...      ...     ...        ...     ...
6835     Munich   €2,149       1        1.0     24m
6836     Munich   €3,753  Studio        1.0     27m
6837     Munich   €3,100       5        1.0     60m
6838     Munich   €1,160       4        2.0       0
6839     Munich   €1,150       4        2.0       0

                                               Location  \
0                                            Austin, TX
1                                   801 West 5th Street
2                           Austin, Indian Oaks, TX, US
3                                         5505 Avenue H
4     Seaholm Residences, 222 West Avenue, Austin, T...
...                                                 ...
6835  Leica Geosystems GmbH Vertrieb Deutschland, Tr...
6836           Westendstraße 170, 80686 Munich, Germany
6837             Baaderstraße 43, 80469 Munich, Germany
6838            Barer Straße 58b, 80799 Munich, Germany
6839  Städtisches Sophie-Scholl-Gymnasium, Borschtal...

                                              Amenities Dogs_allowed  \
0     ['Air Conditioning', 'Balcony', 'Parking', 'Po...  not allowed
1                                                    []      allowed
2                                                    []      allowed
3     ['Storage', 'Air Conditioning', 'Dishwasher', ...      allowed
4                                                    []  not allowed
...                                                 ...          ...
6835  ['Furnished', 'Parking', 'Washer/Dryer In Unit...  not allowed
6836  ['Furnished', 'Parking', 'Washer/Dryer In Unit...      allowed
6837  ['Furnished', 'Washer/Dryer In Unit', 'Utiliti...  not allowed
6838  ['Washer/Dryer In Unit', 'Furnished', 'Elevato...  not allowed
6839  ['Washer/Dryer In Unit', 'Furnished', 'Elevato...  not allowed

     Cats_allowed  Deposite  Price_INR  Converted_Area
0     not allowed       0.0  2185830.0        3550.000
1         allowed       0.0   195190.0           0.000
2         allowed       0.0   108770.0        1352.000
3         allowed  119200.0   249575.0        1300.000
4     not allowed       0.0   521500.0        1360.000
...           ...       ...        ...             ...
6835  not allowed       0.0   187392.8         258.336
6836      allowed       0.0   327261.6         290.628
6837  not allowed       0.0   270320.0         645.840
6838  not allowed  101152.0   101152.0           0.000
6839  not allowed  100280.0   100280.0           0.000

[6840 rows x 12 columns]

In [218]:
df['Amenities'] = df['Amenities'].astype(str)

In [219]:
max_index = df['Amenities'].apply(len).idxmax()

In [220]:
max_index

2818

In [221]:
df['Amenities'][2818]

"['Washer/Dryer In Unit', 'Air Conditioning', 'Hardwood Floors', 'Dishwasher', 'Beach View', 'Roof Deck', 'Furnished', 'Student Friendly', 'Utilities Included', 'Balcony', 'Garden']"

In [222]:
df['sno'] = range(1, len(df) + 1)

In [223]:

import ast
# Convert the string representation of lists back to Python lists
df['Amenities'] = df['Amenities'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) and x != "None" else [])

# Display the updated DataFrame
print(df)

           City    Price   Rooms  Bathrooms    Area  \
0     Austin TX  $29,340       7        7.0  3550sf
1     Austin TX   $2,620       1        1.0       0
2     Austin TX   $1,460       3        2.0  1352sf
3     Austin TX   $3,350       3        1.0  1300sf
4     Austin TX   $7,000       2        2.0  1360sf
...         ...      ...     ...        ...     ...
6835     Munich   €2,149       1        1.0     24m
6836     Munich   €3,753  Studio        1.0     27m
6837     Munich   €3,100       5        1.0     60m
6838     Munich   €1,160       4        2.0       0
6839     Munich   €1,150       4        2.0       0

                                               Location  \
0                                            Austin, TX
1                                   801 West 5th Street
2                           Austin, Indian Oaks, TX, US
3                                         5505 Avenue H
4     Seaholm Residences, 222 West Avenue, Austin, T...
...                                                 ...
6835  Leica Geosystems GmbH Vertrieb Deutschland, Tr...
6836           Westendstraße 170, 80686 Munich, Germany
6837             Baaderstraße 43, 80469 Munich, Germany
6838            Barer Straße 58b, 80799 Munich, Germany
6839  Städtisches Sophie-Scholl-Gymnasium, Borschtal...

                                              Amenities Dogs_allowed  \
0     [Air Conditioning, Balcony, Parking, Pool, Dis...  not allowed
1                                                    []      allowed
2                                                    []      allowed
3     [Storage, Air Conditioning, Dishwasher, Hardwo...      allowed
4                                                    []  not allowed
...                                                 ...          ...
6835  [Furnished, Parking, Washer/Dryer In Unit, Air...  not allowed
6836  [Furnished, Parking, Washer/Dryer In Unit, Uti...      allowed
6837  [Furnished, Washer/Dryer In Unit, Utilities In...  not allowed
6838  [Washer/Dryer In Unit, Furnished, Elevator, Di...  not allowed
6839  [Washer/Dryer In Unit, Furnished, Elevator, Di...  not allowed

     Cats_allowed  Deposite  Price_INR  Converted_Area   sno
0     not allowed       0.0  2185830.0        3550.000     1
1         allowed       0.0   195190.0           0.000     2
2         allowed       0.0   108770.0        1352.000     3
3         allowed  119200.0   249575.0        1300.000     4
4     not allowed       0.0   521500.0        1360.000     5
...           ...       ...        ...             ...   ...
6835  not allowed       0.0   187392.8         258.336  6836
6836      allowed       0.0   327261.6         290.628  6837
6837  not allowed       0.0   270320.0         645.840  6838
6838  not allowed  101152.0   101152.0           0.000  6839
6839  not allowed  100280.0   100280.0           0.000  6840

[6840 rows x 13 columns]

In [224]:
df['City'].isna().sum()

574

In [225]:
df['Price'].isna().sum()

574

In [226]:
nan_count = (df['City'] == 'NaN').sum()

In [227]:
nan_count

0

In [228]:
df = df.dropna(subset=['City'])
df = df.reset_index(drop=True)

In [229]:
df['City'].value_counts()

City
Austin TX         286
Buffalo NY        286
Frankfurt         286
Birmingham        286
Amsterdam         286
Perth             286
Tokyo             286
Sydney            286
Melbourne         286
Brisbane          286
Toronto, CA       286
Vancouver, CA     286
Toronto, CA       286
Vancouver, CA     286
Ottawa,CA         286
Orlando,FL,USA    286
Las Vegas,NV      286
New Jersey,USA    286
Munich            286
Miami,FL          284
Dallas            284
Glasgow           264
Name: count, dtype: int64

In [230]:
df['City'] = df['City'].replace('Vancouver, CA ','Vancouver, CA')
df['City'] = df['City'].replace('Toronto, CA ','Toronto, CA')

In [231]:
df['City'].value_counts()

City
Vancouver, CA     572
Toronto, CA       572
Austin TX         286
Melbourne         286
Frankfurt         286
Birmingham        286
Amsterdam         286
Perth             286
Tokyo             286
Sydney            286
Brisbane          286
Buffalo NY        286
Ottawa,CA         286
Orlando,FL,USA    286
Las Vegas,NV      286
New Jersey,USA    286
Munich            286
Miami,FL          284
Dallas            284
Glasgow           264
Name: count, dtype: int64

In [187]:
unique_amenities = df['Amenities'].explode().unique()

In [188]:
unique_amenities,

array(['Air Conditioning', 'Balcony', 'Parking', 'Pool', 'Dishwasher',
       'Garden', nan, 'Storage', 'Hardwood Floors',
       'Wheelchair Accessible', 'Elevator', 'Fireplace', 'Furnished',
       'Washer/Dryer In Unit', 'Gym', 'Student Friendly', 'Roof Deck',
       'Utilities Included', 'Beach View', 'High Rise', 0, 'Doorman'],
      dtype=object)

In [232]:
import pandas as pd


# List of amenities
amenities_list =['Air Conditioning', 'Balcony', 'Parking', 'Pool', 'Dishwasher',
       'Garden', 'Storage', 'Hardwood Floors',
       'Wheelchair Accessible', 'Elevator', 'Fireplace', 'Furnished',
       'Washer/Dryer In Unit', 'Gym', 'Student Friendly', 'Roof Deck',
       'Utilities Included', 'Beach View', 'High Rise', 'Doorman']
# ['Parking', 'Air Conditioning', 'Pool', 'Elevator', 'Fireplace', 'Wheelchair Accessible', 'Gym', 'Storage', 'High Rise', 'Balcony', 'Dishwasher','Furnished']

# Create new columns based on the amenities list
for amenity in amenities_list:
    df[amenity] = df['Amenities'].apply(lambda x: 1 if isinstance(x, list) and amenity in x else 0)

# Drop the original 'Amenities' column if needed
# df = df.drop('Amenities', axis=1)

# Display the updated DataFrame
print(df)

           City    Price   Rooms  Bathrooms    Area  \
0     Austin TX  $29,340       7        7.0  3550sf
1     Austin TX   $2,620       1        1.0       0
2     Austin TX   $1,460       3        2.0  1352sf
3     Austin TX   $3,350       3        1.0  1300sf
4     Austin TX   $7,000       2        2.0  1360sf
...         ...      ...     ...        ...     ...
6261     Munich   €2,149       1        1.0     24m
6262     Munich   €3,753  Studio        1.0     27m
6263     Munich   €3,100       5        1.0     60m
6264     Munich   €1,160       4        2.0       0
6265     Munich   €1,150       4        2.0       0

                                               Location  \
0                                            Austin, TX
1                                   801 West 5th Street
2                           Austin, Indian Oaks, TX, US
3                                         5505 Avenue H
4     Seaholm Residences, 222 West Avenue, Austin, T...
...                                                 ...
6261  Leica Geosystems GmbH Vertrieb Deutschland, Tr...
6262           Westendstraße 170, 80686 Munich, Germany
6263             Baaderstraße 43, 80469 Munich, Germany
6264            Barer Straße 58b, 80799 Munich, Germany
6265  Städtisches Sophie-Scholl-Gymnasium, Borschtal...

                                              Amenities Dogs_allowed  \
0     [Air Conditioning, Balcony, Parking, Pool, Dis...  not allowed
1                                                    []      allowed
2                                                    []      allowed
3     [Storage, Air Conditioning, Dishwasher, Hardwo...      allowed
4                                                    []  not allowed
...                                                 ...          ...
6261  [Furnished, Parking, Washer/Dryer In Unit, Air...  not allowed
6262  [Furnished, Parking, Washer/Dryer In Unit, Uti...      allowed
6263  [Furnished, Washer/Dryer In Unit, Utilities In...  not allowed
6264  [Washer/Dryer In Unit, Furnished, Elevator, Di...  not allowed
6265  [Washer/Dryer In Unit, Furnished, Elevator, Di...  not allowed

     Cats_allowed  Deposite  ...  Fireplace  Furnished  Washer/Dryer In Unit  \
0     not allowed       0.0  ...          0          0                     0
1         allowed       0.0  ...          0          0                     0
2         allowed       0.0  ...          0          0                     0
3         allowed  119200.0  ...          0          0                     0
4     not allowed       0.0  ...          0          0                     0
...           ...       ...  ...        ...        ...                   ...
6261  not allowed       0.0  ...          0          1                     1
6262      allowed       0.0  ...          0          1                     1
6263  not allowed       0.0  ...          0          1                     1
6264  not allowed  101152.0  ...          0          1                     1
6265  not allowed  100280.0  ...          0          1                     1

      Gym  Student Friendly  Roof Deck  Utilities Included  Beach View  \
0       0                 0          0                   0           0
1       0                 0          0                   0           0
2       0                 0          0                   0           0
3       0                 0          0                   0           0
4       0                 0          0                   0           0
...   ...               ...        ...                 ...         ...
6261    0                 0          0                   0           0
6262    0                 0          0                   1           0
6263    0                 0          0                   1           0
6264    0                 0          0                   0           0
6265    0                 0          0                   0           0

      High Rise  Doorman
0             0        0
1             0        0
2             0        0
3             0        0
4             0        0
...         ...      ...
6261          0        0
6262          0        0
6263          0        0
6264          0        0
6265          0        0

[6266 rows x 33 columns]

In [233]:
df.iloc[11]

City                                                           Austin TX
Price                                                             $2,340
Rooms                                                                  1
Bathrooms                                                            1.0
Area                                                              1000sf
Location                                                      Austin, TX
Amenities                [Air Conditioning, Parking, Dishwasher, Garden]
Dogs_allowed                                                 not allowed
Cats_allowed                                                 not allowed
Deposite                                                             0.0
Price_INR                                                       174330.0
Converted_Area                                                    1000.0
sno                                                                   13
Air Conditioning                                                       1
Balcony                                                                0
Parking                                                                1
Pool                                                                   0
Dishwasher                                                             1
Garden                                                                 1
Storage                                                                0
Hardwood Floors                                                        0
Wheelchair Accessible                                                  0
Elevator                                                               0
Fireplace                                                              0
Furnished                                                              0
Washer/Dryer In Unit                                                   0
Gym                                                                    0
Student Friendly                                                       0
Roof Deck                                                              0
Utilities Included                                                     0
Beach View                                                             0
High Rise                                                              0
Doorman                                                                0
Name: 11, dtype: object

country code and city code

In [234]:
df['City'].value_counts()

City
Vancouver, CA     572
Toronto, CA       572
Austin TX         286
Melbourne         286
Frankfurt         286
Birmingham        286
Amsterdam         286
Perth             286
Tokyo             286
Sydney            286
Brisbane          286
Buffalo NY        286
Ottawa,CA         286
Orlando,FL,USA    286
Las Vegas,NV      286
New Jersey,USA    286
Munich            286
Miami,FL          284
Dallas            284
Glasgow           264
Name: count, dtype: int64

In [235]:
cities=df['City'].unique()

In [236]:
cities

array(['Austin TX', 'Buffalo NY', 'Dallas', 'New Jersey,USA',
       'Las Vegas,NV', 'Miami,FL', 'Orlando,FL,USA', 'Ottawa,CA',
       'Vancouver, CA', 'Toronto, CA', 'Brisbane', 'Melbourne', 'Sydney',
       'Tokyo', 'Perth', 'Amsterdam', 'Birmingham', 'Glasgow',
       'Frankfurt', 'Munich'], dtype=object)

In [238]:
city_data = {'City': ['Austin TX', 'Buffalo NY', 'Dallas', 'New Jersey,USA', 'Las Vegas,NV', 'Miami,FL', 
                 'Orlando,FL,USA', 'Ottawa,CA',
                 'Vancouver, CA', 'Toronto, CA', 'Brisbane', 'Melbourne', 'Sydney', 'Tokyo', 'Perth', 'Amsterdam', 
                 'Birmingham', 'Glasgow', 'Frankfurt', 'Munich'],
    'StateCode': ['TX', 'NY', 'TX', 'NJ', 'NV', 'FL', 'FL', 'CA', 
                  'CA', 'CA', 'BRI', 'MEL', 'SYD', 'TYO', 'PER', 'AMS', 'BIR', 'GLA', 'FRA', 'MUC'],
    
    'CountryCode': ['US', 'US', 'US', 'US', 'US', 'US', 'US', 'CA', 'CA', 'CA', 'AU', 'AU', 'AU', 'JP',
                    'AU', 'NL', 'UK', 'UK', 'DE', 'DE']
}

# Create the DataFrame
city_df = pd.DataFrame(city_data)

# Display the DataFrame
print(city_df)

              City StateCode CountryCode
0        Austin TX        TX          US
1       Buffalo NY        NY          US
2           Dallas        TX          US
3   New Jersey,USA        NJ          US
4     Las Vegas,NV        NV          US
5         Miami,FL        FL          US
6   Orlando,FL,USA        FL          US
7        Ottawa,CA        CA          CA
8    Vancouver, CA        CA          CA
9      Toronto, CA        CA          CA
10        Brisbane       BRI          AU
11       Melbourne       MEL          AU
12          Sydney       SYD          AU
13           Tokyo       TYO          JP
14           Perth       PER          AU
15       Amsterdam       AMS          NL
16      Birmingham       BIR          UK
17         Glasgow       GLA          UK
18       Frankfurt       FRA          DE
19          Munich       MUC          DE

In [239]:
df = df.dropna(subset=['City'])
df = df.reset_index(drop=True)

In [240]:
df.isna().sum()

City                      0
Price                     0
Rooms                     0
Bathrooms                11
Area                      0
Location                  0
Amenities                 0
Dogs_allowed             11
Cats_allowed             11
Deposite                 11
Price_INR                 0
Converted_Area           11
sno                       0
Air Conditioning          0
Balcony                   0
Parking                   0
Pool                      0
Dishwasher                0
Garden                    0
Storage                   0
Hardwood Floors           0
Wheelchair Accessible     0
Elevator                  0
Fireplace                 0
Furnished                 0
Washer/Dryer In Unit      0
Gym                       0
Student Friendly          0
Roof Deck                 0
Utilities Included        0
Beach View                0
High Rise                 0
Doorman                   0
dtype: int64

In [241]:
df = df.merge(city_df, how='left', left_on='City', right_on='City')

In [242]:
df.columns

Index(['City', 'Price', 'Rooms', 'Bathrooms', 'Area', 'Location', 'Amenities',
       'Dogs_allowed', 'Cats_allowed', 'Deposite', 'Price_INR',
       'Converted_Area', 'sno', 'Air Conditioning', 'Balcony', 'Parking',
       'Pool', 'Dishwasher', 'Garden', 'Storage', 'Hardwood Floors',
       'Wheelchair Accessible', 'Elevator', 'Fireplace', 'Furnished',
       'Washer/Dryer In Unit', 'Gym', 'Student Friendly', 'Roof Deck',
       'Utilities Included', 'Beach View', 'High Rise', 'Doorman', 'StateCode',
       'CountryCode'],
      dtype='object')

In [165]:
#Table 1
#Sno,Address,City,State code,Country, Rental Price,deposit
#table2
#Sno, no of bed, no.of bathroom , Area ,pets allowed
#table 3
#Sno ,Washer/Dryer , AC ,Parking, Fireplace, Dishwasher, Hardwood floors, Roofdeck ,storage

In [168]:
df.columns

Index(['City', 'Price', 'Rooms', 'Bathrooms', 'Area', 'Location', 'Amenities',
       'Dogs_allowed', 'Cats_allowed', 'Deposite', 'Price_INR',
       'Converted_Area', 'sno', 'Parking', 'Air Conditioning', 'Pool',
       'Elevator', 'Fireplace', 'Wheelchair Accessible', 'Gym', 'Storage',
       'High Rise', 'Balcony', 'Dishwasher', 'Furnished', 'StateCode',
       'CountryCode'],
      dtype='object')

In [244]:
df['Rooms'].unique()

array(['7', '1', '3', '2', '4', 'Studio', '5', '8', '6', '15', '9', '12',
       '10'], dtype=object)

In [245]:
df['Rooms']=df['Rooms'].replace('Studio','1')

In [247]:
df['Rooms']=df['Rooms'].astype(int)

In [248]:
#addressandprice
columns_to_select = ['sno', 'City', 'Location', 'StateCode', 'CountryCode', 'Price','Price_INR','Deposite']
df_price = df[columns_to_select]

In [249]:
columns_to_select = ['sno','Rooms','Bathrooms','Area','Converted_Area','Dogs_allowed', 'Cats_allowed']
df_bdrms = df[columns_to_select]

In [264]:
amenities_list

['Air Conditioning',
 'Balcony',
 'Parking',
 'Pool',
 'Dishwasher',
 'Garden',
 'Storage',
 'Hardwood Floors',
 'Wheelchair Accessible',
 'Elevator',
 'Fireplace',
 'Furnished',
 'Washer/Dryer In Unit',
 'Gym',
 'Student Friendly',
 'Roof Deck',
 'Utilities Included',
 'Beach View',
 'High Rise',
 'Doorman']

In [265]:
columns_to_select = ['sno','Air Conditioning',
 'Balcony',
 'Parking',
 'Pool',
 'Dishwasher',
 'Garden',
 'Storage',
 'Hardwood Floors',
 'Wheelchair Accessible',
 'Elevator',
 'Fireplace',
 'Furnished',
 'Washer/Dryer In Unit',
 'Gym',
 'Student Friendly',
 'Roof Deck',
 'Utilities Included',
 'Beach View',
 'High Rise',
 'Doorman']
df_amnity = df[columns_to_select]

In [266]:
df_amnity.columns

Index(['sno', 'Air Conditioning', 'Balcony', 'Parking', 'Pool', 'Dishwasher',
       'Garden', 'Storage', 'Hardwood Floors', 'Wheelchair Accessible',
       'Elevator', 'Fireplace', 'Furnished', 'Washer/Dryer In Unit', 'Gym',
       'Student Friendly', 'Roof Deck', 'Utilities Included', 'Beach View',
       'High Rise', 'Doorman'],
      dtype='object')

In [251]:
df_price.to_csv('pricetable.csv', index=False)

In [252]:
df_bdrms.to_csv('bathandbed.csv', index=False)

In [267]:
df_amnity.to_csv('ammnities.csv', index=False)

In [254]:
df.isnull().sum()

City                      0
Price                     0
Rooms                     0
Bathrooms                11
Area                      0
Location                  0
Amenities                 0
Dogs_allowed             11
Cats_allowed             11
Deposite                 11
Price_INR                 0
Converted_Area           11
sno                       0
Air Conditioning          0
Balcony                   0
Parking                   0
Pool                      0
Dishwasher                0
Garden                    0
Storage                   0
Hardwood Floors           0
Wheelchair Accessible     0
Elevator                  0
Fireplace                 0
Furnished                 0
Washer/Dryer In Unit      0
Gym                       0
Student Friendly          0
Roof Deck                 0
Utilities Included        0
Beach View                0
High Rise                 0
Doorman                   0
StateCode                 0
CountryCode               0
dtype: int64

In [255]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6266 entries, 0 to 6265
Data columns (total 35 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   City                   6266 non-null   object
 1   Price                  6266 non-null   object
 2   Rooms                  6266 non-null   int32
 3   Bathrooms              6255 non-null   float64
 4   Area                   6266 non-null   object
 5   Location               6266 non-null   object
 6   Amenities              6266 non-null   object
 7   Dogs_allowed           6255 non-null   object
 8   Cats_allowed           6255 non-null   object
 9   Deposite               6255 non-null   float64
 10  Price_INR              6266 non-null   float64
 11  Converted_Area         6255 non-null   float64
 12  sno                    6266 non-null   int64
 13  Air Conditioning       6266 non-null   int64
 14  Balcony                6266 non-null   int64
 15  Parking                6266 non-null   int64
 16  Pool                   6266 non-null   int64
 17  Dishwasher             6266 non-null   int64
 18  Garden                 6266 non-null   int64
 19  Storage                6266 non-null   int64
 20  Hardwood Floors        6266 non-null   int64
 21  Wheelchair Accessible  6266 non-null   int64
 22  Elevator               6266 non-null   int64
 23  Fireplace              6266 non-null   int64
 24  Furnished              6266 non-null   int64
 25  Washer/Dryer In Unit   6266 non-null   int64
 26  Gym                    6266 non-null   int64
 27  Student Friendly       6266 non-null   int64
 28  Roof Deck              6266 non-null   int64
 29  Utilities Included     6266 non-null   int64
 30  Beach View             6266 non-null   int64
 31  High Rise              6266 non-null   int64
 32  Doorman                6266 non-null   int64
 33  StateCode              6266 non-null   object
 34  CountryCode            6266 non-null   object
dtypes: float64(4), int32(1), int64(21), object(9)
memory usage: 1.6+ MB

In [257]:
df[df['sno']==3443]

,City,Price,Rooms,Bathrooms,Area,Location,Amenities,Dogs_allowed,Cats_allowed,Deposite,...,Washer/Dryer In Unit,Gym,Student Friendly,Roof Deck,Utilities Included,Beach View,High Rise,Doorman,StateCode,CountryCode
3151,"Toronto, CA","$1,200",1,2.0,2600m,"20 Brockton Ave, Toronto, ON M6K 1S5, Canada","[Washer/Dryer In Unit, Air Conditioning, Hardw...",allowed,allowed,89400.0,...,1,0,1,1,1,1,0,0,CA,CA

NameError: name 'ammnitiestable' is not defined

In [274]:
df[(df['Washer/Dryer In Unit']==1) & (df['Dogs_allowed'] =='allowed')]

,City,Price,Rooms,Bathrooms,Area,Location,Amenities,Dogs_allowed,Cats_allowed,Deposite,...,Washer/Dryer In Unit,Gym,Student Friendly,Roof Deck,Utilities Included,Beach View,High Rise,Doorman,StateCode,CountryCode
689,Dallas,"$10,955",5,1.0,2552sf,"Payne Parkway, Castleridge, Grand Prairie, TX ...","[Fireplace, Air Conditioning, Washer/Dryer In ...",allowed,allowed,0.0,...,1,0,0,0,0,0,0,0,TX,US
782,Dallas,"$14,861",5,1.0,2304sf,"12408 Veronica Road, Farmers Branch, TX 75234,...","[Fireplace, Air Conditioning, Dishwasher, Wash...",allowed,allowed,0.0,...,1,0,0,0,0,0,0,0,TX,US
795,Dallas,"$4,146",2,1.0,0,"1815 South Edgefield Avenue, Dallas, TX 75224,...","[Air Conditioning, Dishwasher, Washer/Dryer In...",allowed,allowed,0.0,...,1,0,0,0,0,0,0,0,TX,US
2579,"Toronto, CA","$1,200",1,2.0,2600m,"20 Brockton Ave, Toronto, ON M6K 1S5, Canada","[Washer/Dryer In Unit, Air Conditioning, Hardw...",allowed,allowed,89400.0,...,1,0,1,1,1,1,0,0,CA,CA
3151,"Toronto, CA","$1,200",1,2.0,2600m,"20 Brockton Ave, Toronto, ON M6K 1S5, Canada","[Washer/Dryer In Unit, Air Conditioning, Hardw...",allowed,allowed,89400.0,...,1,0,1,1,1,1,0,0,CA,CA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6217,Munich,"€2,386",1,1.0,29m,"Geyerstraße 52, 80469 Munich, Germany","[Furnished, Parking, Washer/Dryer In Unit, Uti...",allowed,allowed,0.0,...,1,0,0,0,1,0,0,0,MUC,DE
6227,Munich,"€3,611",3,1.0,46m,"Max Lodging, Krüner Straße, 81373 Munich, Germany","[Furnished, Parking, Washer/Dryer In Unit, Uti...",allowed,allowed,0.0,...,1,0,0,0,1,0,0,0,MUC,DE
6231,Munich,"€2,050",3,1.0,55m,"Ostendorferweg 6, 80686 Munich, Germany","[Balcony, Dishwasher, Elevator, Washer/Dryer I...",allowed,allowed,0.0,...,1,0,0,0,0,0,0,0,MUC,DE
6243,Munich,"€1,746",1,1.0,20m,"BOLD Hotel, Aschauer Straße 12, 81549 Munich, ...","[Furnished, Parking, Washer/Dryer In Unit, Uti...",allowed,allowed,43600.0,...,1,0,0,0,1,0,0,0,MUC,DE
6262,Munich,"€3,753",1,1.0,27m,"Westendstraße 170, 80686 Munich, Germany","[Furnished, Parking, Washer/Dryer In Unit, Uti...",allowed,allowed,0.0,...,1,0,0,0,1,0,0,0,MUC,DE